# PIAIC Batch 3 Assignment 1
Name: Faraz Naeem
Class: AI
Roll Number: PIAIC65534
Timings: 9 to 12

In [2]:
name1 = "Faraz Naeem"
name2 = "  PiAiC BaTCh 3 "
name3 = " Timings 9 to 3"
dir(name1)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

## Uses and Syntax of above string functions are shown below 
## by using the mostly 3 above strings value (name1 ,name2 ,name3)

In [23]:
name1.capitalize() # Only capitalize 1st character of string

'Faraz naeem'

In [24]:
name2.casefold() # Lower all the characters of string

'  piaic batch 3 '

In [25]:
name1.center(50) # taking space of 40 character and pring name in the middle

'                   Faraz Naeem                    '

In [26]:
name1.count('e') # Counts the total numbers of character 'e'

2

In [27]:
name ='Fåråz Nåeem'
name.encode() #encode the string

b'F\xc3\xa5r\xc3\xa5z N\xc3\xa5eem'

In [21]:
name1.endswith('m') # compare with end character of string and reture true or false

True

In [33]:
name = 'it is a very \tlong day'
print(name.expandtabs(10)) # space between the character

it is a very        long day

In [34]:
print(name2.find('B')) #return the index of find character

8

In [35]:
name='Weather is {w}'
print(name.format(w='hot')) 
# Insert the w value inside the placeholder{}

Weather is hot

In [36]:
name={'fname':'Faraz', 'lname':'Naeem'}
print('{fname} {lname}'.format_map(name))

Faraz Naeem

In [37]:
print(name3.index('g'))  # return the index of specific character

6

In [38]:
print(name2.isalnum()) # return if string is alphanumeic or not e.g character and number

False

In [39]:
print(name2.isalpha()) # return true or false if string have all alphabets without space

False

In [40]:
print(name1.isascii()) # return true or false if string have ascii characters

True

In [41]:
print(name2.isdecimal()) #return if string have any decimal value

False

In [42]:
print(name2.isdigit()) #return if string have any digits

False

In [43]:
print(name3.isidentifier()) #return true or false if string have some identifier like start with _,or no space between word

False

In [44]:
print(name3.islower()) #return true or false if string have all characters are lower case

False

In [45]:
print(name2.isnumeric()) #return true or false if string have all characters are numeric

False

In [46]:
print(name2.isprintable()) #return true or false if string have all characters are printable

True

In [47]:
print(name1.isspace())  #returns True if all the characters in a string are whitespaces, otherwise False

False

In [48]:
print(name1.istitle()) #return true or false if each word start with an upper case letter

True

In [49]:
print(name3.isupper())  #return true or false if whole string will have upper case letter

False

In [57]:
n = {'Hello','world'}
print('  '.join(n)) #method takes all items in an iterable and joins them into one string. A string must be specified as the separator.

world  Hello

In [59]:
name4=name1.ljust(20)
print(name4,"Bhatti")  #return 20 character space from left justified

Faraz Naeem          Bhatti

In [60]:
print(name2.lower())  #return all character in lower case

  piaic batch 3

In [61]:
print(name2)
print(name2.lstrip())   #remove space for letf side

  PiAiC BaTCh 3
PiAiC BaTCh 3

In [63]:
print(name3.partition('9'))  #return a tuple

(' Timings ', '9', ' to 3')

In [64]:
print(name2.replace('3','5'))  #replace the word to another word

  PiAiC BaTCh 5

In [67]:
print(name3.rfind('7')) #return the index almost rindex(),if value not found return -1

-1

In [3]:
print(name3.rindex('9')) #return the index almost rindex(),if value not found return error

9

In [5]:
print(name1.rjust(50)) #return a justified version of string

                                       Faraz Naeem

In [10]:
print(name2.rpartition('BaTCh')) # right Partition

('  PiAiC ', 'BaTCh', ' 3 ')

In [12]:
print(name3.rsplit()) #return in list

['Timings', '9', 'to', '3']

In [14]:
print(name2.rstrip())

  PiAiC BaTCh 3

In [15]:
print(name2.split())

['PiAiC', 'BaTCh', '3']

In [18]:
name = """
Hello World
My Name is Faraz
"""
print(name.splitlines()) #return a single work list

['', 'Hello World', 'My Name is Faraz']

In [20]:
print(name3.startswith('K')) #return true or false if the given character are starting character of whole string

False

In [22]:
print(name2.strip())

PiAiC BaTCh 3

In [23]:
print(name2.swapcase())  #return first character of every work in lower and other whole string will be UPPER case

  pIaIc bAtcH 3

In [25]:
name = 'hello'
print(name.title()) #convert the first character of every word in UPPER Case

Hello

In [27]:
print(name3.upper()) #return the whole string in upper case

 TIMINGS 9 TO 3

In [35]:
print(name1.zfill(15)) #add zeros after the total character of string with includes spaces

0000Faraz Naeem